.rocket-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
  margin: 0;
}

.rocket-img {
  min-width: 16rem;
  min-height: 12rem;
  object-fit: cover;
}

.rocket-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.rocket-info h2 {
  text-align: justify;
  padding: 0.2rem;
  margin: 0;
}

.rocket-info p {
  text-align: justify;
  padding: 0.2rem;
  margin: 0;
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #1b9fa9;
  border-radius: 0.5rem;
  width: 5rem;
  height: 1.3rem;
  padding: 0;
  margin: 0;
}

.reserve-btn {
  text-align: center;
  color: #fff;
  background-color: #097af4;
  border-radius: 8px;
  border: none;
  outline: none;
  min-width: 10rem;
  min-height: 2.5rem;
  padding: 0;
  margin: 0;
}
