.join-btn {
  text-align: center;
  color: rgb(113, 109, 109);
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid rgb(113, 109, 109);
  outline: none;
  min-width: 10rem;
  min-height: 2.5rem;
  padding: 0;
  margin: 1rem;
}

.join-btn:hover {
  color: #fff;
  background-color: rgb(113, 109, 109);
}

.leave-btn {
  text-align: center;
  color: red;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid red;
  outline: none;
  min-width: 10rem;
  min-height: 2.5rem;
  padding: 0;
  margin: 1rem;
}

.leave-btn:hover {
  color: #fff;
  background-color: red;
}
